@import './variables.scss';
@import './mixins.scss';


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
};

.flex-between{
    display: flex;
    justify-content: space-between;
}

.list-reset{
    @include reset-list-ul;
    li{
        display: inline;
        a{
            text-decoration: none;
        }
    }
}

.activeElementBrandColor{
    @include activeElementBrandColor;
}

.company-styled-word{
    @include companyStyledWord;
}

.company-styled-word-bg{
    @include companyStyledWordBg;
}