@import './variables.scss';

@mixin reset-list-ul{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

// active element on hover or click
@mixin activeElementBrandColor{
    background-color: $brandTextColor !important;
    color: white !important;
}

@mixin inactiveElementBrandColor{
    text-transform: uppercase;
    text-decoration: none;
    color: $brandTextColor;
    border: 2px solid $brandTextColor;
    margin: 0 .8rem;
}

// This is the commonly used styled word in the page
@mixin companyStyledWord{
    color: $brandTextColor;
    padding: 0 1.2rem;
    background-color: rgba($brandTextColorLight, .3);
}

@mixin companyStyledWordBg{
    padding: 0 1.2rem;
    background-color: rgba($brandTextColorLight, .3);
}