// Color cube
$CcWhite: #ffffff;
$CcWoodsmoke: #111117;
$CcBluelagoon: #038484;
$CcGravel: #504f51;
$CcPumice: #bcbebc;
$CcSantaFe: #ae795e;
$CcFountainBlue: #52bbba;
$CcAnakiwa: #8fffff;

// Median Cut
$McShark: #1d2023;
$McGrayNurse: #eef1ed;
$McSeaNymph: #6ca0a0;
$McSmaltBlue: #46808e;
$McSantaFe: #a96b53;

// Material design
$MdElmVibrant: #1c918e;
$MdSantafeMuted: #ab6b53;
$MdBigStoneDarkVibrant: #122439;
$MdMasalaDarkMuted: #443c3b;
$MdAkaroaLightVibrant: #d6b9a3;

// ! Used in page
// page palettes
$lightTextColor: $CcWhite;
$secondaryTextColor: $CcPumice;
$brandTextColor: $CcBluelagoon;
$brandTextColorLight: $CcFountainBlue;


// Background
$TopHeaderBg: #21333E;
$ServicesBg: #eef4ed;
$darkBrandBg: $CcWoodsmoke;
$secodaryDarkBrandBg: $McShark;
