@import './variables.scss';
@import './mixins.scss';
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
};

.flex-between{
    display: flex;
    justify-content: space-between;
}

.list-reset{
    @include reset-list;
    
    li{
        display: inline;
        a{
            text-decoration: none;
        }
    }
}

.active{
    @include activeElement;
}